{% extends "app/layout.html" %}

{% block content %}

<h1>{{ title }}</h1>
<h3>{{ message }}</h3>

<section>
    <p class="lead">Мы - Xiaomi, китайский производитель смартфонов, быстро набирающий популярность по всему миру.</p>
    <p>Мы верим, что высокое качество не должно стоить слишком дорого. Поэтому наши смартфоны предлагают передовые технологии по доступной цене.</p>
    <p>Мы также стремимся к экологической устойчивости и призываем наших пользователей к ответственному использованию техники.</p>
</section>

<section>
    <h2>Наша миссия</h2>
    <p>
        Наша миссия заключается в том, чтобы привнести передовые технологии в жизнь каждого человека и обеспечить доступность наших продуктов для всех.
        Мы стремимся создавать инновационные продукты, которые не только облегчают повседневную жизнь, но и существенно улучшают ее качество.
    </p>
</section>

<section>
    <h2>Наша команда</h2>
    <p>
        Наша команда состоит из высококвалифицированных профессионалов, которые постоянно работают над улучшением качества и функциональности наших смартфонов.
        Мы объединяем свои усилия и знания, чтобы создавать лучшие продукты на рынке и предоставлять непревзойденный уровень обслуживания нашим пользователям.
    </p>
</section>

{% endblock %}
